## PRODUCT SALES FOR E COMPANY

### appendix 
-click on links: 

> <a href=#imports>Import libraries</a>

> <a href=#load>Load data</a>

> <a href=#formating>Data formating</a>

> <a href=#valid>validate assumption</a>

> <a href=#EDA>Explratory data analysis</a>

> <a href=#Questions>Questions</a>

> <a href=#Qun>Qunclosion</a>

# <a name=imports> Import libraries</a>

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
%matplotlib inline

# <a name=load>Load data</a>

In [2]:
df = pd.read_csv('Sales_April_2019.csv',
                 na_values =' ' ,
                 delimiter=';' # to show data without (;)
                 )

In [3]:
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18383 entries, 0 to 18382
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          18324 non-null  object
 1   Product           18324 non-null  object
 2   Quantity Ordered  18324 non-null  object
 3   Price Each        18324 non-null  object
 4   Order Date        18324 non-null  object
 5   Purchase Address  18324 non-null  object
dtypes: object(6)
memory usage: 861.8+ KB

# <a name=formating>Data formating</a>

In [5]:
# i need to change data format of four colums :order id ,Order Date, Quantity Ordered,Price Each 
df['Order ID'] = pd.to_numeric(df['Order ID'], errors ='coerce')

In [6]:
#شلت التاريخ لحاله في كولم جديد 
df['Date'] = df['Order Date'].str.split(' ').str[0]
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Date
0,176558.0,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",04/19/19
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,176559.0,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",04/07/19
3,176560.0,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04/12/19
4,176560.0,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04/12/19

In [28]:
#df['Date'] = pd.to_datetime(df['Date'],format ='%m/%d/%y')

ValueError: time data 'Order' does not match format '%m/%d/%y' (match)

In [8]:
df['Quantity Ordered'] = pd.to_numeric(df['Quantity Ordered'], errors ='coerce')

In [9]:
df['Price Each'] = pd.to_numeric(df['Price Each'], errors ='coerce')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18383 entries, 0 to 18382
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          18289 non-null  float64
 1   Product           18324 non-null  object
 2   Quantity Ordered  18289 non-null  float64
 3   Price Each        18289 non-null  float64
 4   Order Date        18324 non-null  object
 5   Purchase Address  18324 non-null  object
 6   Date              18324 non-null  object
dtypes: float64(3), object(4)
memory usage: 1005.4+ KB

# <a name=valid>validate assumption</a>

In [11]:
for col in df.columns:
    uniq_val = df[col].unique()
    print(col,' : ',uniq_val)
    print(' ')

Order ID  :  [176558.     nan 176559. ... 194092. 194093. 194094.]

Product  :  ['USB-C Charging Cable' nan 'Bose SoundSport Headphones' 'Google Phone'
 'Wired Headphones' 'Macbook Pro Laptop' 'Lightning Charging Cable'
 '27in 4K Gaming Monitor' 'AA Batteries (4-pack)'
 'Apple Airpods Headphones' 'AAA Batteries (4-pack)' 'iPhone'
 'Flatscreen TV' '27in FHD Monitor' '20in Monitor' 'LG Dryer'
 'ThinkPad Laptop' 'Vareebadd Phone' 'LG Washing Machine'
 '34in Ultrawide Monitor' 'Product']

Quantity Ordered  :  [ 2. nan  1.  3.  5.  4.  7.  6.]

Price Each  :  [  11.95     nan   99.99  600.     11.99 1700.     14.95  389.99    3.84
  150.      2.99  700.    300.    149.99  109.99  999.99  400.    379.99]

Order Date  :  ['04/19/19 08:46' nan '04/07/19 22:30' ... '04/15/19 16:02'
 '04/14/19 15:09' '04/18/19 11:08']

Purchase Address  :  ['917 1st St, Dallas, TX 75001' nan '682 Chestnut St, Boston, MA 02215'
 ... '347 Sunset St, San Francisco, CA 94016'
 '835 Lake St, Portland, OR 97035' '354 North St, Boston, MA 02215']

Date  :  ['04/19/19' nan '04/07/19' '04/12/19' '04/30/19' '04/29/19' '04/02/19'
 '04/24/19' '04/08/19' '04/18/19' '04/15/19' '04/16/19' '04/22/19'
 '04/04/19' '04/27/19' '04/03/19' '04/28/19' '04/09/19' '04/11/19'
 '04/05/19' '04/20/19' '04/10/19' '04/21/19' '04/17/19' '04/01/19'
 '04/26/19' '04/25/19' '04/13/19' '04/14/19' '04/23/19' '04/06/19'
 '05/01/19' 'Order']

In [12]:
# to detect num of missing values "Null values" in all dataset using for loop

size = len(df)
for col in df.columns:
    na_val = sum(df[col].isna())
    print(col,' : ',na_val,' null value out of ', size , 'value')

Order ID  :  94  null value out of  18383 value
Product  :  59  null value out of  18383 value
Quantity Ordered  :  94  null value out of  18383 value
Price Each  :  94  null value out of  18383 value
Order Date  :  59  null value out of  18383 value
Purchase Address  :  59  null value out of  18383 value
Date  :  59  null value out of  18383 value

# <a name=EDA>Explratory data analysis(EDA)</a>

In [13]:
df.describe()

            Order ID  Quantity Ordered    Price Each
count   18289.000000       18289.00000  18289.000000
mean   185328.816720           1.12461    184.431026
std      5061.520829           0.43641    330.913377
min    176558.000000           1.00000      2.990000
25%    180952.000000           1.00000     11.950000
50%    185328.000000           1.00000     14.950000
75%    189706.000000           1.00000    150.000000
max    194094.000000           7.00000   1700.000000

In [14]:
#mask = df['Quantity Ordered']>1 
#df[mask]

In [15]:
df.isna().sum(axis=0)

Order ID            94
Product             59
Quantity Ordered    94
Price Each          94
Order Date          59
Purchase Address    59
Date                59
dtype: int64

In [16]:
df.shape

(18383, 7)

In [17]:
df.dropna(how='all', inplace=True)

In [19]:
df.shape

(18324, 7)

In [20]:
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Date
0,176558.0,USB-C Charging Cable,2.0,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",04/19/19
2,176559.0,Bose SoundSport Headphones,1.0,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",04/07/19
3,176560.0,Google Phone,1.0,600.00,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04/12/19
4,176560.0,Wired Headphones,1.0,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04/12/19
5,176561.0,Wired Headphones,1.0,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",04/30/19
...,...,...,...,...,...,...,...
18378,194090.0,Google Phone,1.0,600.00,04/08/19 17:11,"177 Jackson St, Los Angeles, CA 90001",04/08/19
18379,194091.0,AA Batteries (4-pack),1.0,3.84,04/15/19 16:02,"311 Forest St, Austin, TX 73301",04/15/19
18380,194092.0,AAA Batteries (4-pack),2.0,2.99,04/28/19 14:36,"347 Sunset St, San Francisco, CA 94016",04/28/19
18381,194093.0,AA Batteries (4-pack),1.0,3.84,04/14/19 15:09,"835 Lake St, Portland, OR 97035",04/14/19
18382,194094.0,Lightning Charging Cable,1.0,14.95,04/18/19 11:08,"354 North St, Boston, MA 02215",04/18/19

In [24]:
#after del null values
df.isna().sum(axis=0)

Order ID            35
Product              0
Quantity Ordered    35
Price Each          35
Order Date           0
Purchase Address     0
Date                 0
dtype: int64

# <a name=Questions>Questions</a>

# <a name=Qun>Qunclosion</a>